.nav_ayr{
    background-color: rgba(0,0,0,0.4);
    border-radius: 3px;
    border-bottom: 2px solid #b904c9;
    margin-bottom: 0vw;
}
.nav_ayr .navBrand{
    position: absolute;
    width: 8vw;
    top: -3vw;
    border-radius: 50%;
    /* -webkit-box-shadow: 0px 0px 7px 1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 7px 1px rgba(255,255,255,1);
    box-shadow: 0px 0px 7px 1px rgba(255,255,255,1); */
}
.nav_ayr .nav-item{
    text-align: center;
    line-height: 3vw;
}
.nav_ayr .nav-link{
    padding: 0 1.5rem 1rem 1.5rem!important;
    display: grid;
}