.Sub_Apps_Container{
    width: 100vw;
    background: #fff;
}
.Sub_Apps_Container .secondBg{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url("../../../img/index/bannerTri.png");
    background-repeat: repeat;
    background-size: 48%;
}

.Sub_Apps_Container .header{
    padding: 1vw 10vw;
    background: rgb(0,203,255);
    background: -moz-linear-gradient(137deg, rgba(0,203,255,1) 0%, rgba(31,0,108,1) 100%);
    background: -webkit-linear-gradient(137deg, rgba(0,203,255,1) 0%, rgba(31,0,108,1) 100%);
    background: linear-gradient(137deg, rgba(0,203,255,1) 0%, rgba(31,0,108,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00cbff",endColorstr="#1f006c",GradientType=1);
    overflow: hidden;
}
.Sub_Apps_Container .header .title{
    font-family: 'Montserrat';
    color: #ffb979;
    font-size: 3vw;
    font-weight: bold;
    margin-top: 2vw;
}
.Sub_Apps_Container .icon img{
    display: block;
    width: 8vw;
    margin: auto;
}

/* .Sub_Apps_Container h1{
    font-family: 'Gotham-Rounded';
    color: #72727e;
}
.Sub_Apps{
    
} */
.Sub_Apps_Wrapper {
    padding: 0 10vw;
}
.Sub_Apps .app_container{
    padding: 1.5vw;
}
.Sub_Apps .app_card{
    border: solid 1px #e5e5e5;
    border-radius: 15px;
    background-color: #fff;
    padding: 0 1vw 1.5vw 1vw;
    cursor: default;
    color: #4d4c5c;
    font-family: 'Gotham-Rounded';
    font-size: 1em;
    -webkit-box-shadow: 0px 4px 11px -1px rgba(133,133,133,1);
    -moz-box-shadow: 0px 4px 11px -1px rgba(133,133,133,1);
    box-shadow: 0px 4px 11px -1px rgba(133,133,133,1);
}

.Sub_Apps .title{
    padding: 1vw;
    color: #cf1374;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Montserrat';
}

.Sub_Apps .logo{
    border: solid 1px #e5e5e5;
    border-radius: 15px;
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.5vw;
    text-align: center;
}
.Sub_Apps .logo img{
    width: 90%;
    height: auto;
}

.Sub_Apps .dwnLink{
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    color: #aaa;
    margin-bottom: 1vw;
}
.Sub_Apps .dwnLink img{
    width: 45%;
    height: auto;
}
.Sub_Apps .dwnLink img:hover{
    opacity: 0.7;
}

.Sub_Apps .category{
    color: #aaa;
    margin-bottom: 1rem;
}
.Sub_Apps .description{
    font-size: 1em;
    text-align: justify;
    font-weight: lighter;
    color: #737373;
}

.Sub_Apps_Container button{
    position: absolute;
    background-color: #d9d9d9;
    border: none;
    border-radius: 50px;
    width: 6vw;
    height: 6vw;
    z-index: 2;
    font-size: 2em;
    color: #f2f2f2;
    margin-top: 15vw;
}
.Sub_Apps_Container button:hover{
    background-color: #bfbfbf;
    color: #8c8c8c;
}

.Sub_Apps_Container .car-btn-prev{
    left: 3vw;
}
.Sub_Apps_Container .car-btn-next{
    right: 3vw;
}